input{
  width: 250px;
  margin-bottom: 16px;
}
button{
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 9px;
  
}
button:hover{
  background-color:#dffd ;
  box-shadow: 2px 0 10px rgb(79, 177, 177);
} 